.conteneur-main{
    max-width:768px; /* largeur maximale d un mobile */
    position:absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;   
    z-index:1;
    animation:apparition 0s 1000ms backwards;
    @include tablette{
        max-width:100%; 
    }@include desktop{
        max-width:100%; 
    }   
}
@keyframes apparition{
    0% {
        transform:translateY(-1000px);
    }
    100% {
        transform:translateY(0);
    }
}
main{
    @include flexbox;
    animation:apparition 0s 1000ms forwards;
    background-color:$gris-tres-clair;
    gap:0;
}
@keyframes apparition{
    0% {
        transform:scaleX(0);
    }
    99%{
        transform:scaleX(0);
    }
    100% {
        transform:scaleX(1);
    }
}
.conteneur-main-details{
    max-width:768px; /* largeur maximale d un mobile */
    position:absolute;
            top:0;
            bottom:0;
            left:0;
            right: 0;
            padding:0;
            background: #F7F7F7;
    @include tablette{
        max-width:100%; 
    }@include desktop{
        max-width:100%; 
    }   
}
