.ville{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
    height:50px;
    background:$gris2;
    gap:17px;
    margin-top:4px;
}
.fa-location-dot{
    width:12px;
    height:16px;
    scale:1.25;
    color:$gris;
}
.ville-input{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-size:19px;
    line-height:10px;
    color:$gris;
    text-align:left;
    border-style :none; 
    background-color:none;
}