header {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    height:63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    & img {
    width:205px;
    margin:auto;
    }
}