.spinner{
@include flexbox;
flex-direction: row;
position:absolute;
            top:-60px;
            bottom: 0;
            left:0;
            right: 0;
            z-index:2;
            animation:disparition 0s 2ms forwards;
}
@keyframes disparition{
    0% {
        transform:scaleX(1);
    }
    99%{
        transform:scaleX(1);
    }
    100% {
        transform:scaleX(0);
    }
}
.lettre{
    @for $i from 1 through 9 {
        &--#{$i} {
            @include police-Roboto;
            color:$blanc;
            width:9vh;
            height:9vh;
            padding: 3vh;
            font-size: 3vh;
            font-weight:900;
            position:absolute;
            top:47.5vh * $i - (4.75vh * $i * $i) - 33.25vh;
            left:9.90625vw * $i - (0.015625vw * $i * $i) - 4.890625vw;       
/*            animation: spin 1000ms backwards infinite ease-in-out alternate;*/
            animation: spin 300ms backwards ease-in-out 1;
            animation-delay: 300ms * ($i - 1);
            background-color:nth($color_,$i);
        }
    }
}
@keyframes spin{
    0% {
        transform:rotate(0deg);
        opacity:0;
    }
    100% {
        transform:rotate(360deg);
        opacity:1;
    }
}
.fonctionnement{
    @include flexbox;
    height:560px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 120px;
    background: #FFFFFF;
    @include desktop{
        aspect-ratio:unset;
    }
    & h1{
    text-align:left;
    padding-top: 100px;
    padding-bottom: 50px;
    @include tablette{
        text-align: center;
    }  
    @include desktop{
        text-align: center;
    }  
    }
}
.fonctionnement ul{
    list-style:none;
    @include flexbox;
    justify-items: center;
    align-items: center;
    width:100%;
    gap:35px;
    @include tablette{
        flex-direction:row; 
        justify-content: space-between;
    }  
    @include desktop{
        flex-direction:row; 
        justify-content: space-between;
    }  
}
.fonctionnement ul li {
    display:block;
    width:100%;
    height:90px;
    justify-items:center;
    align-items: center;
    font-family:'Roboto';
    font-style:normal;
    text-align: left;
    font-weight:600;
    font-size:19px;
    line-height:21px;
    @include tablette{
        width:32%;
        font-size:15px;
    }
    @include desktop{
        width:30%;
    }
    background-color:#F7F7F7;;
    border-radius:20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    &:hover{
        background: lighten(#F7F7F7,7%);
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    }
    &:hover .fa-mobile-screen-button,&:hover .fa-list,&:hover .fa-store{  
        color:$violet;
    }
}
ul img{
    display:inline;
    vertical-align: middle;
    position:relative;
    left:-15px;
    width:30px;
    height:30px;
}
ul text{
    display:inline-block;
    font-family:'Roboto';
    font-style: bold;
    font-weight: 500;
    font-size:18px;
    line-height: 17px;
    background-color: $violet;
    color: #FFFFFF;
    position:relative;
    left:-15px;
    width:30px;
    height:30px;
    padding:7px 10px;
    border-radius:15px;
    align-items: center;
}
ul .chiffre{
    left:-15px;
    width:30px;
    height:30px;
    color:$blanc;
    background-color:$violet;
}
.fa-mobile-screen-button,.fa-list,.fa-store{   
    width:52px;
    height:90px;
    text-align:center;
    vertical-align:middle;
    padding:34px 15px 34px 15px;
    color:$gris;
    &:hover{
        color:$violet;
    }
    @include tablette{
        width:22px;
        position:relative;
        left:-10px;
        padding:15px 0px 15px 0px;
    }
}
.restaurants{
    @include flexbox;
    border-radius:20px;
    height:1500px;
    gap:25px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 30px;
    @include desktop{
        flex-direction:row; 
        flex-wrap:wrap;
        aspect-ratio:unset;
    }
    @include tablette{
        flex-direction:row; 
        flex-wrap:wrap;
        width:100%;
        aspect-ratio:unset;
    } 
    & h1{
        text-align:left;
        height: 217.5px;
        padding-top: 100px;
        @include tablette{
            text-align: center;
        }  
        @include desktop{
            text-align: center;
        }  
    }
}
.carte-restaurants{
    @include flexbox;
    display:inline-block;
    justify-content:space-between;
    width:100%;
    height:auto;
    position:relative;
    aspect-ratio:8/6;
    background-color:white;
    border-radius:20px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    @include desktop{
        width:22%;
    }
    @include tablette{
        flex-direction:row; 
        flex-wrap:wrap;
        width:45%;
    }
}
.carte-restaurants img{
    box-sizing:border-box;
    width:100%;
    aspect-ratio:2/1;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    object-fit:cover;
}
.badge{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    width:106px;
    height:39px;
    left:calc(100% - 116px);
    top:15px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.texte-carte-restaurants{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:space-between;
    padding:16px;
    position:relative;
}
.coeur{
    width:30px; 
    height:30px; 
    z-index:0;
}
.carre{
    background-color:$blanc;
    width:32px; 
    height:32px; 
    position:relative;
    top:-30px;
    left:-1px;
    z-index:0;
    transform:scaleY(1);
    transform-origin:top;
    transition:transform 1000ms ease-in-out;
}
.nom-restaurant .carre{
    background-color: #F7F7F7;
}
.fa-regular,.fa-heart{
    display:block;
    font-size:30px;
    color:gray;  
    background:none;
    width:30px; 
    height:30px; 
    position:relative;
    top:0;
    left:0; 
    z-index:2;      
    &:hover{
        background:linear-gradient(#9356DC,#FF79DA);
        background-clip: text;
        color:transparent;
        font-weight: 600;
        z-index:1;
        }
    &:active{
        background:linear-gradient(#9356DC,#FF79DA);
        background-clip: text;
        color:transparent;
        font-weight: 600;
        z-index:1;
        }
    &:hover + .carre{
        z-index:2;
        transform:scaleY(0);
        }  
    &:active + .carre{
        z-index:2;
        transform:scaleY(0);
        }        
        }
.fa-arrow-left{
    width:auto;
    color:$noir;
    transform:scale(1.414);
    padding: 20px 0 0 0;
}
.carte-menu {
    @include flexbox;
    background-color: #F7F7F7;
}
.restaurant{
    @include flexbox;
    justify-content: flex-start;
    gap:unset;
    margin-bottom: -50px;
}
.restaurant img {
    width:100%;
    aspect-ratio:1.45;
    padding:0px 0px 0px 0px;
    object-fit:cover;
}
.nom-restaurant{
    @include flexbox;
    flex-direction: row;
    align-items: center;
    height: 100px;
    gap:30%;
    position: relative;
    top: -50px;
    background-color: #F7F7F7;
    border-top-right-radius:50px;
    border-top-left-radius: 50px;
}
.liste-menu{
    @include flexbox;
    padding:0 3% 0 3%;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
    animation:delais 5s ease-in-out;
    @include tablette{
        flex-direction: row;
        flex-wrap:wrap;
    }  
    @include desktop{
        flex-direction: row;
    }  
}
.menu{   
    width:100%;
    height:auto;
    gap:10px;
    @include tablette{
        width:48%;
    }  
    @include desktop{
        width:32%;
    }  
}
.partie-repas{
    color:$gris;
    align-self: self-start; 
    font-weight: 400;
    border-bottom: 3px solid $bleuturquoise;
    width : 40px;  
}
.menu ul{
    @include flexbox;   
    gap:10px;
}
.liste-entrees{
    @include flexbox;
    margin-top:20px;

}
.liste-entrees li {
    @include flexbox;
    overflow: hidden;
    justify-content:space-around;
    display:block;
    height:90px;
    align-items:flex-start;
    background-color:$blanc;
    padding: 5px 15px 5px 15px;
    border-radius:15px;
    box-shadow: 0 3px 5px 0 gray;
    transition:box-shadow 0.3s;   
    &:hover .blockprix{
        transform:translate(-80px);
    }
    &:hover .texte{
        width:calc(100% - 100px);
    }
    &:hover h4{
        width:calc(100% - 100px);
    }
    &:hover .fa-check{
        transform:rotate(-360deg);
    }
}
.liste{
    @for $i from 1 through 4 {
        &--#{$i} {
        @include flexbox;
        flex-direction:row;
        justify-content:flex-start;
        width:100%;
        flex-wrap:nowrap;
        height:90px;
        color:$blanc;    
        animation:delai 330ms backwards ease-in-out 1;
        animation-delay: 330ms * $i;
        }
    }
}
.blocktexte{
    @include flexbox;
    gap:0;
    width:80%;
    height:80px;
    justify-content:space-around;
}
.blocktexte h4{
    display:block;
    padding-top:15px;
    height:45px;
    white-space:nowrap;
    position:relative;
    overflow:hidden;
    text-overflow:ellipsis;
    transform-origin:right;
    transition:width 1000ms ease-in-out;
}
.blocktexte .texte{
    display:block;
    color: $noir;
    font-size:18px;
    line-height: 18px;
    padding:0 0 10px 0;
    font-weight:500;
    position:relative;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    transform-origin:right;
    transition:width 1000ms ease-in-out;
}
/* apparition progressive du menu */
@keyframes delai{
    0% {
        opacity:0;
        transform:translateY(15%);
    }
    50%{
        opacity:0.3;
    }
    100% {
        opacity:1;
        transform:translateY(0%);
    }
}
.blockprix{
    @include flexbox;
    flex-direction:row;
    justify-content:space-between;
    position:relative;
    top:-85px;
    left:calc(100% - 45px);
    width:140px;
    height:90px;
    gap:20px;
    font-size:unset;
    transform:translate(0);
    transform-origin:right;
    transition:transform 1000ms ease-in-out;
}
.blockprix h4{
    padding-top:50px;
}
.prix{
    width:50px;
    height:24px;
}
.coche{
    display:flex;
    justify-content:center;
    display:block;
    background-color:$bleuturquoise;
    width:90px;
    height:90px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.fa-check{
    display:block;
    justify-items: center;
    align-items: center;
    margin:30px;
    padding:5px;
    color:$bleuturquoise;
    border-radius:15px;
    background-color:$blanc;
    transform:rotate(0deg);
    transition:transform 1000ms ease-in-out;
}