.btn {
    @for $i from 1 through 2 {
        &--#{$i} {
    @include police-Roboto;
    display:block;
    justify-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height:45px;
    height:52px;
    color:white; 
    background: linear-gradient(to bottom right,$rose, $violet);
    border:none;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 #9356DC;
    transition: 0.3s;
    &:hover{
        background: linear-gradient(to bottom right,lighten(#FF79DA,7%),lighten(#9356DC,7%));
        box-shadow: 0 6px 15px 0 #9356DC;
        }
        }
    &--1{
        margin: 15px 30%;
    }
    &--2{
        margin: 15px 15%;
    }   
    }
}
