h1{
    font-family:'Roboto';
    text-align: center;
    height:117.5px;
    font-weight:800;
    font-size: 20px;
    line-height:20px;
    padding:39.5px 0 10px 0;
    @include tablette{
        font-size: 29px;
        line-height:29px;
    }@include desktop{
        font-size: 29px;
        line-height:29px;
}
}
h2{
    font-family:'Roboto';
    text-align: center;
    vertical-align:middle;
    margin: 15px 15%;
    font-weight: 700;
    font-size: 20px;
    line-height:49px;
    height:52px;
    color:white; 
    background-color:#FF79DA ;
    background-color:#9356DC;
    background: linear-gradient(to bottom right,#FF79DA, #9356DC);
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-left:none;
    border-radius:25px;
    box-shadow: 0 3px 15px 0 #9356DC;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
h3{
    font-family:'Roboto';
    font-style:normal;
    text-align: center;
    color:gray;
    font-weight:300;
    font-size:22px;
    line-height:21px;
    margin-bottom:35px
}
h4{
    font-family: 'Roboto'; 
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}
h5{
    font-family: 'Roboto'; 
    font-style: normal;
    color: #008766;
    font-weight:600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
}
.texte{
    font-family: 'Roboto';
    font-style:normal;
    font-weight:lighter;
    font-size:20px;
    line-height:20px;
    padding-top:15px;
    color: #000000;
}
.nom-restaurant h1{
    color:$noir;
    text-align: left;
    font-size:36px;
    font-weight: 400;
    font-family:'Shrikhand';
    margin-top:20px;
    margin-left: 0;
    margin-right: 0;
    border: none;
}
li h4 {
    color: $noir;
    font-weight:700;
    line-height:24px;
    text-align: left;
    border: none;
    width: auto;
}
.blockprix h4 {
    color: $noir;
    font-weight:700;
    line-height:24px;
    width:40px;
    text-align: center;
    padding-top:32px;
    border:none;
}
h6{
    display:inline-block;
    font-family:'Roboto';
    font-weight: 500;
    font-size:18px;
    line-height: 17px;
    background-color: $violet;
    color: #FFFFFF;
    position:relative;
    left:-15px;
    width:30px;
    height:30px;
    padding:7px 10px;
    border-radius:15px;
    align-items: center;
}