$blanc: #fff;
$rose: #FF79DA;
$violet:#9356DC;
$gris:#808080;
$gris-clair:#F2F2F2;
$cyan:cyan;
$rouge:#ff0000;
$noir: #000;
$transparent:transparent;
$color_: #15DEA5,#0E397F,#FF79DA,#9356DC,#ff0000,#9356DC,#FF79DA,#0E397F,#15DEA5;
$liste-font-family:Roboto Shrikhand;